@model InteractiveTextbook.Models.AnalysisViewModel

@{
    ViewData["Title"] = "ViewTimers";
}

<h1>Total average: @Model.AverageTime</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timers.FirstOrDefault().TimeElapsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timers.FirstOrDefault().Page.PageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timers.FirstOrDefault().RecordCreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeElapsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page.PageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordCreatedOn)
            </td>
        </tr>
}
    </tbody>
</table>
