@model IEnumerable<InteractiveTextbook.Data.Entities.Page>

@{
    ViewData["Title"] = "ViewPages";
}

<h1>ViewPages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("View timers", "ViewTimers", new { pageId=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
